{% extends 'base.html' %}

{% block content %}

<div class="leftcol">
<!-- Менюшка проектов -->
    
    <table class="prodject_list" border="1">
        <tr>
            <th>Список проектов</th>
        </tr>

        {% for key in prodjects.keys() %}
            <tr><td>
                <a href="/prodject/{{ key }}/"><div class="prodject_list_item">
                    {{ prodjects[key] }}
                </div></a>
            </td></tr>
        {% endfor %}

    </table>
    
</div>

<div class="rightcol">
    {% block workspace %}

        <a href="{{ url_for('new_prodject') }}">
            <div class="btn_workspace">
                Новый проект
            </div>
        </a>
    

        {% if flag_prodject %}
            <a href="new_task">
                <div class="btn_workspace">
                    Новая задача
                </div>
            </a>

            <a href="del_project">
                <div class="btn_workspace">
                    Удалить проект
                </div>
            </a>

        {% endif %}

        <a href="{{ url_for('logout') }}">
            <div class="btn_workspace">
                Выход
            </div>
        </a>

        <br>
        <br>

    {% endblock %}
</div>


{% endblock %}