{% extends 'base.html' %}

{% block content %}

<div class="leftcol">
<!-- Менюшка проектов -->
    
    <table class="prodject_list" border="1">
        <tr>
            <th>Список проектов</th>
        </tr>

        {% for key in prodjects.keys() %}
            <tr><td>
                <a href="/prodject/{{ key }}/"><div class="prodject_list_item">
                    {{ prodjects[key] }}
                </div></a>
            </td></tr>
        {% endfor %}

    </table>

    <br>
    <hr>
    <br>

    <a href="{{ url_for('new_prodject') }}">
    <div class="new_prodject_but">
        Новый проект
    </div>
    </a>

    <br>
    <hr>
    <br>

    <a href="{{ url_for('logout') }}">
    <div class="new_prodject_but">
        Выход
    </div>
    </a>
    
</div>

<div class="rightcol">
    {% block workspace %}
    

    {% endblock %}
</div>


{% endblock %}