{% extends 'base.html' %}

{% block content %}

<h1> more information </h1>



{% if current_user.is_authenticated %}
<h3>Привет {{current_user.name}}</h3>
{% else %}
<h3> Залогинься плиз</h3>
{% endif %}



{% if all_task %}
<ul>
{% for task in all_task %}
    <li class="task_item" >
    <h5>{{ task.title }} </h5>
    <hr>
    <p> {{ task.content }} </p>
    <div id="link_to_more" ><a href="post/{{ task.id }}" class="a_more_info" > more info </a></div>
    </li>
{% endfor %}
</ul>
{% else %}
<h4>Нет записей</h4>
{% endif %}

{% endblock %}