{% extends 'index.html' %}

{% block workspace %}
   {{ super() }}

    {% if tasks %}
        {% for key in tasks.keys() %}
        <div class="card" >
            <div class="heder_card">
                <h3 class="card_title">{{ tasks[key]["title"] }} </h3>    
            </div>

            <form action="change/{{ key }}">
                <input type="submit" value="Изменить" class="a_change">
            </form>

            <form action="change_del/{{ key }}" method="post">
                <input type="submit" value="Удалить" class="a_change_del">
            </form>

            <hr>
            <p> {{ tasks[key]["content"]|safe}} </p>
            <hr>
            <div class="card_dop_info">
                <ul>
                    <li>автор {{ tasks[key]["authot"] }}</li>
                    <li>создано {{ tasks[key]["created_on"] }}</li>
                    <li>обновлено {{ tasks[key]["updated_on"] }}</li>
                    <li>deadline {{ tasks[key]["deadline"] }}</li>
                </ul>


            </div>



        </div>
            
        {% endfor %}
    {% else %}
        <h3>Записей нет</h3>
    {% endif %}

{% endblock %}