{% extends 'index.html' %}

{% block workspace %}
   {{ super() }}

    {% if tasks %}
        {% for key in tasks.keys() %}
        <div class="card" >
            <div class="heder_card">
                <h3 class="card_title">{{ tasks[key][0] }} </h3>    
            </div>

            <form action="change/{{ key }}">
                <input type="submit" value="Изменить" class="a_change">
            </form>

            <form action="change_del/{{ key }}" method="post">
                <input type="submit" value="Удалить" class="a_change_del">
            </form>

            <hr>
            <p> {{ tasks[key][1]|safe}} </p>
            <!-- {{ tasks[key][1]|safe}} -->
        </div>
            
        {% endfor %}
    {% else %}
        <h3>Записей нет</h3>
    {% endif %}

{% endblock %}